#renderCanvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 700px;
    height: 700px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    touch-action: none;
}
#hudCanvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 100px;
    height: 700px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 800px;
    right: 0;
    touch-action: none;
}